* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin-left: 20px;
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 10px;
}

.comment-block {
    width: 100%
}

.comment {
    padding: 10px;
    display: grid;
}

.add-comments {
    display: grid;
}

.modal-block {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.album-name-modal {
    margin-bottom: 20px;
}

.song-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    width: 300px;
}

.song {
    display: flex;
    align-items: center;
}