@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap');
body {
    background-image: url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg);
    background-size: cover;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 3em;
    letter-spacing: 2px;
    word-spacing: 6px;
}

footer {
    font-family: 'Shrikhand', cursive;
}

.artist {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.album-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.song-block,
.comments,
.average-stars,
.modal-input {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.album-name-modal,
.song-name-modal {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: bold;
    background: rgb(6, 6, 66);
    color: white;
    padding: 10px
}

.submit-comment {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 2px 10px;
    border: 1px;
    border-radius: 5px;
}

.submit-comment:hover {
    background: rgb(63, 62, 62);
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 600px;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
}

li {
    margin-left: 20px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 20px;
    padding-top: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Stars */

.stars {
    display: inline-block;
}

.stars input {
    display: none;
}

.stars label {
    float: right;
    font-size: 24px;
    color: #444;
    transition: all .2s;
    padding-right: 5px;
    margin-right: 10px;
}

.stars label:before {
    content: '\2605';
    font-style: none;
}

.stars input:checked~label:before {
    color: gold;
    transition: all .25s;
}

.stars label:hover {
    transform: scale(1.3);
}